*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
}
.card{
    background-color: white;
    padding: 16px 16px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.17);
}
.card .card-image{
    width: 336px;
    height: 152px;
}
.card .tags{
    margin-top: 16px;
    list-style: none;
}
.card .tags li a{
    background-color: #E3D5F9;
    padding: 4px 16px;
    color: #B98CEE;
    text-decoration: none;
    border-radius: 12px;
}
.card .card-content{
    margin-top: 16px;
}
.card .card-content h2{
    width: 336px;
    margin-top: 16px;
    color: #2A2A2A;
}
.card .card-content p{
    width: 336px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #828282;
}
.card .card-content span{
    margin-top: 20px;
    color: #828282;
    font-size: 12px;
}